/* ? Custom Fonts  */

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

/* ? Hide Desktop Navbar */
.hide-nav {
    transform: translateY(-200%);
}



/* ? Card Transition */
.card_hide-text {
    max-height: 0;
}

.card_show-text {
    max-height: 140px;
}

/* ? Tilt Animation */
.animated-object {
    animation: tilt 5000ms infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }

}

/* ? Desktop Navbar Blur */
.bdrop-blur {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}